[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "earth"]
	path = earth
	url = https://github.com/cran/earth
[submodule "plotmo"]
	path = plotmo
	url = https://github.com/cran/plotmo
[submodule "plotpc"]
	path = plotpc
	url = https://github.com/cran/plotpc
[submodule "rpart.plot"]
	path = rpart.plot
	url = https://github.com/cran/rpart.plot
